{% extends '_base.twig' %}
{% block articuloEdit %}
		{% if edit %}
			<input type='hidden' id='editar-update' data-editype="articulo">
			<input type="hidden" class="form-control" id="id"  value="{{articulo.id}}"   >
		{% endif %}
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class='row' id='form-container' data-class='usuario'>
						{# Feedback #}
						{% if respuesta %}
							<div class='respuesta' data-resultado={{resultado}}>guay</div>
						{% endif %}	
					
						<div class='col-md-9'>
							<div class="panel todo-list">
								<div class="panel-heading">
									<h2 class="panel-title">Editar artículo</h2>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										{#<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>#}
									</div>
								</div>
								<div class='panel-body'>
									<form class="form-auth-small text-left" action="articulo/editarArticulo">
									    <div class="form-group">
											<label for="subidaArt-nombre" class="control-label title">Nombre</label>
											<input type="text" class="form-control" id="subidaArt-nombre" placeholder="{{articulo.nombre}}" name='nombre'>
										</div>
										<div class="form-group">
											<label for="subidaArt-precio" class="control-label title">Precio</label>
											<input type="text" class="form-control" id="subidaArt-precio" placeholder="{{articulo.precio}}" name='precio'>
										</div>
										<div class="form-group">
											<label for="subidaArt-cantidad" class="control-label title">Cantidad</label>
											<input type="text" class="form-control" id="subidaArt-cantidad" ajax-callBack placeholder="{{articulo.cantidad}}" name='cantidad'>
										</div>
										<div class="form-group">
											<label for="subidaArt-tallaDesde" class="control-label title">Talla Desde</label>
											<input type="text" class="form-control" id="subidaArt-tallaDesde" placeholder="{{articulo.tallaDesde}}" name='tallaDesde'>
										</div>
										<div class="form-group">
											<label for="subidaArt-tallaHasta" class="control-label title">Talla Hasta</label>
											<input type="text" class="form-control" id="subidaArt-tallaHasta" ajax-callBack placeholder="{{articulo.tallaHasta}}" name='tallaHasta'>
										</div>
										<div class="form-group">
											<label for="subidaArt-descripcion" class="control-label title">Descripción</label>
											<textarea class="form-control" id="subidaArt-descripcion" ajax-callBack placeholder="{{articulo.descripcion}}" name='descripcion'></textarea>
										</div>	
										<div class="form-group">
											<label for="subidaArt-tipo" class="control-label title">Tipo</label>
											<textarea class="form-control" id="subidaArt-tipo" ajax-callBack placeholder="{{articulo.tipo}}" name='tipo'></textarea>
										</div>
											
										<br>
										<input type="submit" class="btn btn-primary submit" value="Editar"></input>
										{#<i href="articulo/editarArticulo?{{articulo.id}}" class="btn btn-primary submit" value="Editar"></input>#}
										<br>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
	
{% endblock %}