<!doctype html>
<html lang="en" class="fullscreen-bg">

<head>
	<title>Login | Perfect Woman </title>
	<base href="{{urlbase}}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="{{twigFolder}}/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{twigFolder}}/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{twigFolder}}/assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="{{twigFolder}}/assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="{{twigFolder}}/assets/css/demo.css">
	<link rel="stylesheet" href="{{twigFolder}}/assets/css/mystyle.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	{#<link rel="apple-touch-icon" sizes="76x76" href="{{twigFolder}}/assets/img/apple-icon.png">#}
	<link rel="icon" type="image/png" sizes="96x96" href="{{twigFolder}}/assets/img/icons/favicon.ico">
	{# PERFECT WOMAN #}

    <link rel="stylesheet" href="{{twigFolder}}/assets/css/common.css">
    <link rel="stylesheet" href="{{twigFolder}}/assets/css/index_css.css">
	{# FIN PERFECT WOMAN #}
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		{# PERFECT WOMAN #}
		<header id="cabecera-principal" class="">
	        <div class="menu-principal">
	            <p class="logo vogue"> PERFECT WOMAN </p>
	            <nav class="contenedor-enlaces libel">
	                <a href="index.html" class="enlaces enlaces-01">INICIO</a>
	                <a href="lenceria.html" class="enlaces enlaces-02">LENCERIA</a>
	                <a href="ropa_dormir.html" class="enlaces enlaces-03">ROPA DE DORMIR</a>
	                <a href="desfiles.twig" class="enlaces enlaces-04">DESFILES</a>
	                <a href="#contacto" class="enlaces enlaces-04">CONTACTO</a>
	                {# ruta (router) / accion (controller)#}
	                {#<a href="usuario/registro" class="enlaces enlaces-04">REGISTRO</a>#}
	                <a href="usuario/login" class="enlaces enlaces-04">INICIAR SESIÓN / REGISTRO</a>
	                {#<a href="login.twig" class="enlaces enlaces-04">REGISTRO/INICIO DE SESIÓN</a>#}
	            </nav>
	        </div>
    	</header>
    {# FIN PERFECT WOMAN #}
    
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box tamano-login">
					<div class="left">
						<div class="content">
							<div class="header">
								{#<div class="logo logo-login text-center"><img src="{{twigFolder}}/assets/img/logo.jpg" width=140 alt="Perfect Woman Logo"></div>#}
								<p class="lead">{{ login ? 'Entra en tu cuenta' : 'Crear una cuenta nueva'}}</p>
							</div>
							{% block login %}{% endblock %}
							{% block register %}{% endblock %}
						</div>
					</div>
					<div class="right">
						<div class="foto-login"></div>
						<div class="content text">
							{#<h1 class="heading">Perfect Woman</h1>#}
							{#<p></p>#}
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>

</html>
