<!DOCTYPE html>
<html lang="es">

<head>
    <title>Perfect Woman</title>
    <!--base-->
	<base href="{{urlbase}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Perfect Woman">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{twigFolder}}/assets/img/favicon.png">
    <link rel="stylesheet" href="{{twigFolder}}/assets/css/reset.css">
    <link rel="stylesheet" href="{{twigFolder}}/assets/css/common.css">
    <link rel="stylesheet" href="{{twigFolder}}/assets/css/index_css.css">
    <link rel="stylesheet" href="{{twigFolder}}/assets/css/desfiles_css.css">
    <link rel="stylesheet" href="{{twigFolder}}/assets/css/lenceria_css.css">
    <link rel="stylesheet" href="{{twigFolder}}/assets/css/index_css.css">
</head>

<body>
    <header id="cabecera-principal" class="">
        <div class="menu-principal">
            <p class="logo vogue"> PERFECT WOMAN </p>
            <nav class="contenedor-enlaces libel">
                <a href="{{twigFolder}}/index.twig" class="enlaces enlaces-01">INICIO</a>
                {#<a href="index/productos" class="enlaces enlaces-01">Productos</a>#}
                <a href="compra/paginacionArticulos" class="enlaces enlaces-02">LENCERIA</a>
                <a href="index/dormir" class="enlaces enlaces-03">ROPA DE DORMIR</a>
                <a href="index/desfiles" class="enlaces enlaces-04">DESFILES</a>
                <a href="#contacto" class="enlaces enlaces-04">CONTACTO</a>
                {# ruta (router) / accion (controller)#}
                {#<a href="usuario/registro" class="enlaces enlaces-04">REGISTRO</a>#}
                {# Si logueado -> mi cuenta, no logueado-> iniciar Sesión #}
                {% if user_logged %}
	                <a href="usuario/paginacion" class="enlaces enlaces-04">MI CUENTA</a>
	            {% else %}	 
	                <a href="usuario/login" class="enlaces enlaces-04">INICIAR SESIÓN / REGISTRO</a>
	            {% endif %}
                {#<a href="login.twig" class="enlaces enlaces-04">REGISTRO/INICIO DE SESIÓN</a>#}
            </nav>
        </div>
    </header>

 	{# Resto de bloques que necesitamos #}
    {% block index %}{% endblock %}
    {% block productos %}{% endblock %}
    {% block desfiles %}{% endblock %}
    {% block lenceria %}{% endblock %}
    {% block ropa_dormir %}{% endblock %}
  
 		
    <footer>
        <div class="cabecera-footer" id="insta">
            <p class="titulo-footer"> COMPARTE TU ESTILO</p>
            <p class="hastag-footer"> #perfectwoman </p>
        </div>

        <div class="instagram-footer">
            <div class="insta insta-1 img-responsive">
                <img src="{{twigFolder}}/assets/img/dimensionador.png" />
            </div>
            <div class="insta insta-2 img-responsive ">
                <img src="{{twigFolder}}/assets/img/dimensionador.png" /></div>
            <div class="insta insta-3 im/g-responsive ">
                <img src="{{twigFolder}}/assets/img/dimensionador.png" /></div>
            <div class="insta insta-4 img-responsive ">
                <img src="{{twigFolder}}/assets/img/dimensionador.png" /></div>
            <div class="insta insta-5 img-responsive ">
                <img src="{{twigFolder}}/assets/img/dimensionador.png" /></div>
            <div class="insta insta-6 im/g-responsive ">
                <img src="{{twigFolder}}/assets/img/dimensionador.png" /></div>
        </div>

        <div class="rrss-footer">
            <div class="contenedor-rrss ">
                <div class="rrss rrss-facebook img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador.png" />
                </div>
                <div class="rrss rrss-instagram img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador.png" />
                </div>
                <div class="rrss rrss-snapchat img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador.png" />
                </div>
                <div class="rrss rrss-youtube img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador.png" />
                </div>
                <div class="rrss rrss-twitter img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador.png" />
                </div>
            </div>
        </div>
        <div class="contacto-footer">

            <div class="col-footer col-1-footer img-responsive">
            </div>
            <div class="col-footer col-2-footer ">
                <p class="vogue footer-logo">PERFECT WOMAN</p>
                <br>

                <p class="lemon">Dirección</p>
                <p class="geosans">Calle Mesones, 33 18001 Granada, España</p>
                <br>

                <p class="lemon" id="contacto">Contacto</p>
                <p class="geosans">contacto@perfectwoman.com</p>
                <p class="geosans">+34 958 260 344</p>
                <br>

                <div class="horario ">
                    <p class="horario-titulo lemon">Horario</p>
                    <div class="dias">
                        <p class="geosans">Lunes </p>
                        <p class="geosans">Martes</p>
                        <p class="geosans">Miércoles</p>
                        <p class="geosans">Jueves</p>
                        <p class="geosans">Viernes</p>
                        <p class="geosans">Sábado</p>
                    </div>
                    <div class="horas">
                        <p class="geosans">10:00 - 21:00</p>
                        <p class="geosans">10:00 - 21:00</p>
                        <p class="geosans">10:00 - 21:00</p>
                        <p class="geosans">10:00 - 21:00</p>
                        <p class="geosans">10:00 - 21:00</p>
                        <p class="geosans">10:00 - 21:00</p>
                    </div>
                </div>
                <br>
                <p class="legal geosans">© 2018 Tendam Retail, S.A. Todos los derechos reservados</p>
            </div>
            <div class="col-footer col-3-footer ">
                <p class="lemon"><a href="index.html">Inicio</a></p>
                <p class="geosans"><a href="index.html#quienes-Somos">Quienes somos</a></p>
                <p class="geosans"><a href="index.html#novedades">Últimas novedades</a></p>
                <p class="geosans"><a href="index.html#resumen">Gama de productos</a></p>
                <p class="geosans"><a href="index.html#insta">Comparte tu estilo</a></p>
                <br>

                <p class="lemon"><a href="lenceria.html">Lencería</a></p>
                <p class="geosans"><a href="lenceria.html#ver-mas-suje">Sujetadores</a></p>
                <p class="geosans"><a href="lenceria.html#ver-mas-braguitas">Braguitas</a></p>
                <p class="geosans"><a href="lenceria.html#ver-mas-bodies">Bodies</a></p>
                <br>

                <p class="lemon"><a href="ropa_dormir.html">Pijamas</a></p>
                <p class="geosans"><a href="ropa_dormir.html#ver-mas-pijama">Pijamas</a></p>
                <p class="geosans"><a href="ropa_dormir.html#ver-mas-camisetas">Camisetas</a></p>
                <p class="geosans"><a href="ropa_dormir.html#ver-mas-camisones">Camisones</a></p>
                <br>

                <p class="lemon"><a href="desfiles.html">Desfiles</a></p>
            </div>

            <div class="col-footer col-4-footer ">
                <p class="lemon">Condiciones legales</p>
                <p class="geosans">Aviso legal</p>
                <p class="geosans">Condiciones generales de compra</p>
                <p class="geosans">Política de privacidad</p>
                <p class="geosans">Política de cookies</p>
                <p class="geosans">Promociones vigentes</p>
                <p class="geosans">Condidiones de reserva en tienda</p>
                <br>

                <p class="lemon">Suscríbete</p>
                <p class="geosans">¿Quieres ser la primera en enterarte? Recibe las últimas noticias en tu email.</p>
                <br>
                <p class="suscripcion lemon">Suscríbete</p>
            </div>

            <div class=" col-footer col-5-footer "></div>
        </div>
    </footer>
</body>

</html>
