{% extends '_base.twig' %}
{% block lenceria %}
    <div class="hero2 img-responsive"></div>

    <!--  Sujetadores  -->
    <div class="sujetadores ">

        <div class="sujetadores-titulo ">
            <div class="box izq"></div>
            <div class="box-b1"></div>
            <div class="box centro">
                <p class="dinCondensed">SUJETADORES</p>
            </div>
            <div class="box-b2"></div>
            <div class="box dcha">
            </div>
        </div>

        <p class="sujetadores-txt geosans
        ">Descubre la nueva colección de sujetadotes de Perfect Woman, serán tu aliado perfecto para todo tipo de prendas, ya que proporcionan una forma natural y una sujeción perfecta. </p>

        <div class="sujetadores-fotos ">

            <div class="marco">
               <div class=" marco-item sujetadores-01 img-responsive">
                     <a><img src="{{twigFolder}}/assets/img/dimensionador-productos.png" /></a>
                    </div>
                <p class="pie-foto">Sujetador push up de encaje y tul</p>
                <p class="btn-compra"><a href="ruta/accion">Comprar</a></p>
            </div>

            <div class="marco">
                <div class=" marco-item sujetadores-02 img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador-productos.png" />
                </div>
                <p>Sujetador push up</p>
            </div>

            <div class="marco">
                <div class=" marco-item sujetadores-03 img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador-productos.png" />
                </div>
                <p>Sujetador triangular de encaje</p>
            </div>

            <div class="marco">
                <div class=" marco-item sujetadores-04 img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador-productos.png" />
                </div>
                <p>Sujetador clásico</p>
            </div>
        </div>
        <p id="ver-mas-suje" class="vermas geosans">VER MÁS</p>
    </div>
    <!--  Fin Sujetadores  -->

    <!--  Braguitas  -->
    <div class="sujetadores" id="ver-mas-braguitas">
        <div class="braguitas-titulo ">
            <div class="box-braguitas izq"></div>
            <div class="box-b1"></div>
            <div class="box-braguitas centro">
                <p class="dinCondensed">BRAGUITAS</p>
            </div>
            <div class="box-b2"></div>
            <div class="box-braguitas dcha">
            </div>
        </div>

        <p class="sujetadores-txt geosans">Las últimas tendencias en braguitas de encaje, brasileñas, de algodón, sin costuras... para toda clase de momentos y perfectamente combinables con la colección de sujetadores <br> ¡Siéntete sexy a todas horas!</p>

        <div class="sujetadores-fotos ">

            <div class="marco">
                <div class="marco-item braguitas-01 img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador-productos.png" />
                </div>
                <p>Braguita de encaje</p>
            </div>

            <div class="marco">
                <div class="marco-item braguitas-02 img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador-productos.png" />
                </div>
                <p>Braguita clásica de encaje</p>
            </div>

            <div class="marco">
                <div class="marco-item braguitas-03 img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador-productos.png" />
                </div>
                <p>Braguita brasileña encaje y tiras</p>
            </div>

            <div class="marco">
                <div class="marco-item braguitas-04 img-responsive">
                    <img src="{{twigFolder}}/assets/img/dimensionador-productos.png" />
                </div>
                <p>Braguita clásica</p>
            </div>
        </div>        
        <p class="vermas geosans " id="ver-mas-suje">VER MÁS</p>
    </div>
    <!--  Fin Braguitas  -->

    <!--   Bodies-->
    <div class="sujetadores" id="ver-mas-bodies">

        <div class="bodies-titulo ">
            <div class="box-bodies  izq"></div>
            <div class="box-b1"></div>
            <div class="box-bodies  centro">
                <p class="dinCondensed">BODIES</p>
            </div>
            <div class="box-b2"></div>
            <div class="box-bodies  dcha">
            </div>
        </div>

        <p class="sujetadores-txt geosans">Los bodies son la tendencia que no puede faltar en tu armario, para estar en casa o para salir a la calle con unos vaqueros son perfectos como fondo de armario. <br> ¡Nunca sabes cuándo pueden salvarte un look! Elige tu favorito.</p>

        <div class="sujetadores-fotos ">

            <div class="marco">
                <div class="marco-item bodies-01 img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador-productos.png" />
                </div>
                <p>Body de satén lunares</p>
            </div>

            <div class="marco">
                <div class="marco-item bodies-02 img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador-productos.png" />
                </div>
                <p>Body jacquard con encaje</p>
            </div>

            <div class="marco">
                <div class="marco-item bodies-03 img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador-productos.png" />
                </div>
                <p>Body de satén liso</p>
            </div>

            <div class="marco">
                <div class="marco-item bodies-04 img-responsive ">
                    <img src="{{twigFolder}}/assets/img/dimensionador-productos.png" />
                </div>
                <p>Body encaje y tiras</p>
            </div>
        </div>
        <p class="vermas geosans"  id="ver-mas-body">VER MÁS</p>
    </div>
    <!--   Fin Bodies-->

    <!--  Colaboraciones  -->
    <div class="seccion-colaboraciones">
        <div class="colaboraciones">
            <p class="colaboracion-txt geosans">Colaboración con: </p>
            <img src="{{twigFolder}}/assets/img/nyx.png">
            <p class="professional vogue">Professional Makeup </p>

        </div>
        <div class="franja-colaboracion">
            <img src="{{twigFolder}}/assets/img/nyx-makeup.jpg" />
        </div>
    </div>
    <!--  Fin Colaboraciones  -->
{% endblock %}