{% extends '_base.twig' %}
{% block ropa_dormir %}
    <div class="hero3 img-responsive"></div>

    <!--  Sujetadores  -->
    <div class="sujetadores" id="ver-mas-pijama">

        <div class="pijamas-titulo ">
            <div class="box-pijamas izq"></div>
            <div class="box-b1"></div>
            <div class="box-pijamas centro">
                <p class="dinCondensed exclusiva">PIJAMAS CORTOS</p>
            </div>
            <div class="box-b2"></div>
            <div class="box-pijamas dcha">
            </div>
        </div>

        <p class="sujetadores-txt geosans"> Descubre nuestra nueva colección de pijamas cortos, cómodos, con un diseño exclusivo y favorecedores, algunos se venden por piezas, lo que los hacen perfectamente combinables entre ellos.</p>
        <div class="sujetadores-fotos ">

            {% for articulo in info_cor  %}
                <form action="dormir/doComprar">
                    <input type="hidden" class="form-control" name='id' id="id-edit"  value="{{articulo.id}}">
                    <div class="marco">
                        <div class=" marco-item cortos-01 img-responsive " style="background-image:url({{twigFolder}}/assets/img/corto_{{articulo.id}}.jpg)">
                             <a><img src="{{twigFolder}}/assets/img/dimensionador-productos.png" /></a>
                        </div>
                        <p class="pie-foto">{{articulo.nombre}}</p>
                        {#<p class="pie-foto">{{articulo.descripcion}}</p>#}
                        
                        {#<p class="btn-compra"><a href="ruta/accion">Comprar</a></p>#}
                        <input class="btn-compra" type="submit" value="Comprar"></input>
                    </div>
                </form>
            {% endfor %}
        </div>
        {#<p class="vermas geosans">VER MÁS</p>#}
        
        <div class="row">
            <span> <a href="dormir/main?pagina-cor={{paginas_cor.primero}}" >&#10094;&#10094; </a></span>
            <span> <a href="dormir/main?pagina-cor={{paginas_cor.anterior}}" >&#10094; </a></span>
            <span> <a href="dormir/main?pagina-cor={{paginas_cor.siguiente}}"> &#10095;</a></span>
            <span> <a href="dormir/main?pagina-cor={{paginas_cor.ultimo}}">&#10095;&#10095;</a></span>    
        </div>
        
    </div>
    <!--  Fin Sujetadores  -->

    <!--  Braguitas  -->
    <div class="sujetadores " id="ver-mas-camisetas">

        <div class="homewear-titulo ">
            <div class="box-homewear izq"></div>
            <div class="box-b1"></div>
            <div class="box-homewear centro">
                <p class="dinCondensed">HOMEWEAR</p>
            </div>
            <div class="box-b2"></div>
            <div class="box-homewear dcha">
            </div>
        </div>

        <p class="sujetadores-txt geosans">La ropa más casual que necesitas para estar en casa cómoda y a la moda, está fabricada con tejidos muy suaves y de alta calidad, lo que la hace perfecta para esa sesión tan deseada de "sofá, pelis y manta".</p>

        <div class="sujetadores-fotos ">

            {% for articulo in info_homew  %}
                <form action="dormir/doComprar">
                    <input type="hidden" class="form-control" name='id' id="id-edit"  value="{{articulo.id}}">
                    <div class="marco">
                        <div class=" marco-item cortos-01 img-responsive " style="background-image:url({{twigFolder}}/assets/img/home_{{articulo.id}}.jpg)">
                             <a><img src="{{twigFolder}}/assets/img/dimensionador-productos.png" /></a>
                        </div>
                        <p class="pie-foto">{{articulo.nombre}}</p>
                        {#<p class="pie-foto">{{articulo.descripcion}}</p>#}
                        
                        {#<p class="btn-compra"><a href="ruta/accion">Comprar</a></p>#}
                        <input class="btn-compra" type="submit" value="Comprar"></input>
                    </div>
                </form>
            {% endfor %}
          
        </div>
        {#<p class="vermas geosans">VER MÁS</p>#}
        <div class="row">
            <span> <a href="dormir/main?pagina-homew={{paginas_homew.primero}}" >&#10094;&#10094; </a></span>
            <span> <a href="dormir/main?pagina-homew={{paginas_homew.anterior}}" >&#10094; </a></span>
            <span> <a href="dormir/main?pagina-homew={{paginas_homew.siguiente}}"> &#10095;</a></span>
            <span> <a href="dormir/main?pagina-homew={{paginas_homew.ultimo}}">&#10095;&#10095;</a></span>    
        </div>
    </div>
    <!--  Fin Braguitas  -->

    <!--   Bodies-->
    <div class="sujetadores" id="ver-mas-camisones">

        <div class="camisones-titulo ">
            <div class="box-camisones  izq"></div>
            <div class="box-b1"></div>
            <div class="box-camisones  centro">
                <p class="dinCondensed">CAMISONES</p>
            </div>
            <div class="box-b2"></div>
            <div class="box-camisones  dcha">
            </div>
        </div>

        <p class="sujetadores-txt geosans">Descubre nuestros camisones más femeninos: lenceros, de encaje, satén, algodón... hechos con cariño y cuídando todos los detalles para que esta prenda sea perfecta. <br> ¡Estarás sensual e irresistible! </p>

        <div class="sujetadores-fotos ">

           {% for articulo in info_cami  %}
                <form action="dormir/doComprar">
                    <input type="hidden" class="form-control" name='id' id="id-edit"  value="{{articulo.id}}">
                    <div class="marco">
                        <div class=" marco-item cortos-01 img-responsive " style="background-image:url({{twigFolder}}/assets/img/camison_{{articulo.id}}.jpg)">
                             <a><img src="{{twigFolder}}/assets/img/dimensionador-productos.png" /></a>
                        </div>
                        <p class="pie-foto">{{articulo.nombre}}</p>
                        {#<p class="pie-foto">{{articulo.descripcion}}</p>#}
                        
                        {#<p class="btn-compra"><a href="ruta/accion">Comprar</a></p>#}
                        <input class="btn-compra" type="submit" value="Comprar"></input>
                    </div>
                </form>
            {% endfor %}
            
        </div>
        {#<p class="vermas geosans">VER MÁS</p>#}
        <div class="row">
            <span> <a href="dormir/main?pagina-cami={{paginas_cami.primero}}" >&#10094;&#10094; </a></span>
            <span> <a href="dormir/main?pagina-cami={{paginas_cami.anterior}}" >&#10094; </a></span>
            <span> <a href="dormir/main?pagina-cami={{paginas_cami.siguiente}}"> &#10095;</a></span>
            <span> <a href="dormir/main?pagina-cami={{paginas_cami.ultimo}}">&#10095;&#10095;</a></span>    
        </div>
    </div>
    <!--   Fin Bodies-->

    <!--  Colaboraciones  -->
    <div class="seccion-colaboraciones">
        <div class="colaboraciones">
            <p class="colaboracion-txt geosans">Colaboración con: </p>
            <img src="{{twigFolder}}/assets/img/nyx.png">
            <p class="professional vogue">Professional Makeup </p>

        </div>
        <div class="franja-colaboracion">
            <img src="{{twigFolder}}/assets/img/nyx-makeup.jpg" />
        </div>
    </div>
    <!--  Fin Colaboraciones  -->

    <div class="blanco"></div>
{% endblock %}
